# This is a CODEOWNERS file for the Melodee repository
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-the-creation-of-files/about-the-codeowners-file

# Repository owner
* @sphildreth